extends layout
block content
  #content
    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow

      ul.navbar-nav.ml-auto
        .topbar-divider.d-none.d-sm-block
        li.nav-item.dropdown.no-arrow
          a.nav-link.dropdown-toggle#userDropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            span.mr-2.d-none.d-lg-inline.text-gray-600.small 
        .dropdown-divider
        li.nav-item.dropdown.no-arrow
          a.nav-link(href='/users/logout')
            span.mr-2.d-none.d-lg-inline.text-gray-600.small
            i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
    .container-fluid.mt-5
      .col-l-8.m-auto.card.card-body
        .w3-row-padding
          .w3-col.m12
            .w3-card.w3-round.w3-white
              .w3-container.w3-padding
                button.btn.btn-info.btn-block(onclick="document.getElementById('post').style.display='block'")
                  |Create Post
            br
            each newsfeed in newsfeeds
              .w3-container.w3-card.w3-white.w3-round.w3-margin
                br
                img.w3-left.w3-circle.w3-margin-right(src='social_files/avatar6.png' alt='Avatar' style='width:60px')
                span.w3-right.w3-opacity
                  a(href=`/admin/news/${newsfeed._id}`) delete 
                h4= newsfeed.brand
                br
                hr.w3-clear
                img.w3-margin-bottom(src=`/uploads/${newsfeed.image}` style='width:100%')
                p #{newsfeed.brand}: #{newsfeed.particular}
                p= newsfeed.description
                button.w3-button.w3-theme-d1.w3-margin-bottom(type='button')
                  i.fa.fa-thumbs-up
                  |   Like
                button.w3-button.w3-theme-d2.w3-margin-bottom(type='button')
                  i.fa.fa-comment
                  |   Comment
              br
              hr
  #post.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
      .w3-center
        br
        span.w3-button.w3-xlarge.w3-transparent.w3-display-topright(onclick="document.getElementById('post').style.display='none'" title='Close') ×
      form.w3-container(action='/admin/news' method='post' enctype="multipart/form-data")
        .w3-section
          h3 Upload Your finest or Latest work
          label
            b Name
          input.w3-input.w3-animate-input.w3-border.w3-margin-bottom(type='text' placeholder='Enter Your Name' required name='designer').form-control
          label
            b Email
          input.w3-input.w3-animate-input.w3-border.w3-margin-bottom(type='text' placeholder='Enter Your Name' required name='email').form-control
          label
            b FootWear Type
          select.custom-select(required name='particular')
            option(selected)
            option(value='Cover') Cover
            option(value='Thong') Thong
            option(value='Crossing') Crossing
            option(value='Sandals') Sandals
          label
            b Brand Name
          select.custom-select(required name='brand')
            option(selected) 
            option(value='Burberry') Burberry
            option(value='Gucci') Gucci
            option(value='Fendi') Fendi
          label
            b Image
          .custom-file
            input.custom-file-input#customFile(type='file' name='image')
            label.custom-file-label(for='customFile') Choose file
          label
          b Description
          textarea.form-control(required name='description')
          hr
          button.btn.btn-info.btn-block(type='submit')
            i.fa.fa-upload