meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
meta(name='description' content)
meta(name='author' content)
title= title
//  Custom fonts for this template
link(href='/css/sb-admin-2.min.css' rel='stylesheet')
link(href='/css/sb-admin-2.css' rel='stylesheet')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/all.min.css')
link(rel='stylesheet' href='css/w3.css')
body
    div(class='w3-top')
      div(class='w3-bar bg-info text-white w3-left-align w3-large')
            a(class='w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large bg-info text-white' href='javascript:void(0)' onclick='openNav()')
                i(class='fa fa-bars')
            a(href='#' class='w3-bar-item w3-button w3-padding-large bg-info text-white w3-hover-white')
                i(class='fa fa-laugh-wink w3-margin-right')
                | Max
                sup 2
            button(href='#' onclick='document.getElementById("form").style.display="block"' class='w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white' title='Order')
                i(class='fa fa-shopping-cart')
            button(href='#' onclick='document.getElementById("order").style.display="block"' class='w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white' title='Orders')
                i.fa.fa-list-alt
                <sup class='badge badge-danger badge-pill'>#{len}</sup>
            a(href='#' onclick='{this.logOut.bind(this)}' class='w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white' title='Log Out')
              i.fas.fa-sign-out-alt.mr-2.text-gray-400
    #navDemo.w3-bar-block.bg-info.text-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
      a.w3-bar-item.w3-button.w3-padding-large(href='#') a 1
      button.w3-bar-item.w3-button.w3-padding-large(onclick='document.getElementById("form").style.display="block"')
        i.fa.fa-shopping-cart
      button.w3-bar-item.w3-button.w3-padding-large(onclick='document.getElementById("order").style.display="block"')
        i.fa.fa-list-alt
        <sup class='badge badge-danger badge-pill'>#{len}</sup>
      a.w3-bar-item.w3-button.w3-padding-large(href='#')
        i.fa.fa-user
    div(class='w3-container w3-content m-top' style='margin-top:80px')
      div(class='w3-row')
        div(class='w3-col m3')
          div(class='w3-card w3-round w3-white')
            div(class='w3-container')
              h4(class='w3-center') My Profile
              hr
              p
                i(class='fa fa-pencil fa-fw w3-margin-right text-info')
                |Name: {this.state.name}
              p
                i(class='fa fa-home fa-fw w3-margin-right text-info')
                |Email: {this.state.email}
          br
          br
        div(class='w3-col m7')
          div(class='w3-row-padding')
            div(class='w3-col m12')
              div(class='w3-card w3-round w3-white')
                div(class='w3-container w3-padding')
                  h2(class='w3-opacity w3-center')
                    | Welcome to Max
                    sup 2
                    |  {this.state.name}
              br
              each newsfeed in newsfeeds
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                  br
                  img.w3-left.w3-circle.w3-margin-right(src='social_files/avatar6.png' alt='Avatar' style='width:60px')
                  span.w3-right.w3-opacity
                  h4= newsfeed.brand
                  br
                  hr.w3-clear
                  img.w3-margin-bottom(src=`/uploads/${newsfeed.image}` style='width:100%')
                  p #{newsfeed.brand}: #{newsfeed.particular}
                  p= newsfeed.description
                  button.w3-button.w3-theme-d1.w3-margin-bottom(type='button')
                    i.fa.fa-thumbs-up
                    |   Like
                  button.w3-button.w3-theme-d2.w3-margin-bottom(type='button')
                    i.fa.fa-comment
                    |   Comment
                br
                hr


        br
        div(class='w3-col m2')
          div(class='w3-card w3-round w3-white w3-center')
            div(class='w3-container')
              p Designers list:
              ul
.w3-modal#form
    .w3-modal-content.w3-card-4.w3-animate-zoom
        .container-fluid#myDiv
            br
            span.w3-button.w3-xlarge.w3-transparent.w3-display-topright(onclick="document.getElementById('form').style.display='none'" title='Close') ×
            form(method='post' action='/order')
              .w3-section
                h3 Order Your FootWear
                label Shoe Type:
                select.form-control(name='particular')
                  option(value)
                  option(value='Cover') Cover
                  option(value='Crossing') Crossing
                  option(value='Sandals') Sandals
                  option(value='Thong') Thong
                label How many Pair(s)
                input.form-control(name='pairs' type='number')
                label Shoe Size
                input.form-control(name='size' type='number')
                label Designer:
                select.form-control(name='designer')


                .alert.alert-info
                  strong Note! 
                  | the designer of your choice will be the one working on your footwear
                label Brand:
                select.form-control(name='brand')
                  option(value)
                  option(value='Burberry') Burberry
                  option(value='Louis Vuitton') Louis Vuitton
                  option(value='Fendi') Fendi
                label Sole Type:
                select.form-control(name='sole')
                  option(value)
                  option(value='Single') Single
                  option(value='Double') Double
                label Description:
                textarea.form-control(name='description')
                br
                input.form-control.btn.btn-info.btn-block(type='submit' value='Order')
.w3-modal#order
    .w3-modal-content.w3-card-4.w3-animate-zoom
        .container-fluid#myDiv
            br
            span.w3-button.w3-xlarge.w3-transparent.w3-display-topright(onclick="document.getElementById('order').style.display='none'" title='Close') ×
            h3 Orders
            table.table.table-borderless.table-responsive
              thead.thead-light
                tr
                  th Type
                  th Pairs
                  th Size
                  th Status
              tbody
                each order in orders
                    tr
                      td #{order.name}
                      td #{order.email}
                      td #{order.particular}
                      td #{order.pairs}
                      td #{order.sole} Size: #{order.size}
                      td.bg-muted.text-muted
                        | #{order.status} #{order.progress} complete
                        span.spinner-grow.spinner-grow-sm.text-muted

script(src='/js/bootstrap.min.js')
script(src='/js/all.min.js')
script(src='/js/popper.min.js')
script(src='/js/jquery.min.js')
script(src='/js/sb-admin-2.min.js')
script(src='/js/script.js')
